div.decorative1, div.decorative2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}
p.decorative1, p.decorative2 {
	font-size: large;
	text-align: center;
	padding-top: 20px;
}
p#contact {
	width: 250px;
	margin: 10px auto auto;
	font-size: 20px;
	background-color: black;
	color: white;
}

a:visited#contact {
    text-decoration: none;
    color: gold;
}

a:hover#contact {
    text-decoration: none;
    border-bottom: 2px solid white;
}

a:active#contact {
    text-decoration: none;
}
