div#catalogueWrapper h1
{
	display: block;
	float: right;
	width: 500px;
	margin: 0;
}

div#catalogue > div
{
	height: 320px;
}


a.thumbnail
{
	padding: 0;
	border: 0;
}

a.thumbnail > img
{
	max-width: 300px;	
	max-height: 300px;
}

nav#catalogueMenu li:hover
{
	cursor: pointer;
}