div#catalogueWrapper h1
{
	display: block;
	float: right;
	width: 500px;
	margin: 0;
}

div#catalogue > div
{
	height: 320px;
}


a.thumbnail
{
	#height: inherit;
	width; inherit;
	height: inherit;
}
