table {
	margin: 100px auto auto;	
}

input, textarea {
	padding: 10px;
	border: 1px solid black;
	width: 300px;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
	margin: 7px auto auto;
}

textarea {
	width: 300px;
	height: 200px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	box-shadow: rgba(232, 163, 0, 1) 0px 0px 8px;
	-moz-box-shadow: rgba(232, 163, 0, 1) 0px 0px 8px;
	-webkit-box-shadow: rgba(232, 163, 0, 1) 0px 0px 8px;	
}

label {
	color: black;
	width: 150px;
	margin-top: 15px;
	box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
}

input#button {
	width: 100px; 
	height: 40px;
	background-color: black; 
	color: white;
	border-color: gray;
	border-width: 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-left: 145px;
}