div#creatorWrapper
{
	#background: silver;
}

div#creatorWrapper > div#creatorToolbar
{
    display: block;
    position: relative;
    width: 500px;
    height: 30px;
    margin: 0px auto;
    padding: 0px;
    border-radius: 25px;
}
    div#creatorWrapper > div#creatorToolbar > input#paintColor
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        float: left;
        margin: auto 1px;
        padding: 0px;
        border: none;
        border-radius: 5px;
    }
    div#creatorWrapper > div#creatorToolbar > input#lineSize
    {
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        float: left;
        text-align: center;
        margin: 0px 1px;
        padding: 0px;
        border: none;
    }
    div#creatorWrapper > div#creatorToolbar > div#brush
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        float: left;
        margin: 0px 1px;
        padding: 0px;
        border-radius: 5px;
        background: url("../Images/Brush.jpg");
    }
    div#creatorWrapper > div#creatorToolbar > div#drawLine
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        float: left;
        margin: 0px 1px;
        padding: 0px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        font-size: 12px
    }
    div#creatorWrapper > div#creatorToolbar > div#strokeRect, div#fillRect
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        float: left;
        margin: 0px 1px;
        padding: 0px;
        background: green;
    }
    div#creatorWrapper > div#creatorToolbar > div#strokeCirc, div#fillCirc
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        float: left;
        margin: 0px 1px;
        padding: 0px;
        border-radius: 50px;
        background: blue;
    }
    /*div#creatorWrapper > div#creatorToolbar > div#SavePicture, div#creatorWrapper > div#creatorWrapperToolbar > div#ShowGallery
    {
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        float: left;
        margin: 0px 1px;
        padding: 0px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        background: -webkit-linear-gradient(bottom left, azure, oldlace, ghostwhite);
    }
    div#creatorWrapper > div#creatorWrapperToolbar > div#LoadPicture, div#creatorWrapper > div#creatorWrapperToolbar > div#DeletePicture
    {
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        float: left;
        margin: 0px 1px;
        padding: 0px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        background: -webkit-linear-gradient(bottom left, azure, oldlace, ghostwhite);
    }*/
div#creatorWrapper > canvas#creatorCanvas
{
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 5px auto;
    padding: 0px;
    border: 1px solid black;
    background: white;
}
/*form#AddPictureForm
{
    display: block;
    position: relative;
    width: 275px;
    height: 50px;
    padding: 0px;
}
    form#AddPictureForm > div#Labels
    {
        display: block;
        position: relative;
        float: right;
    }
    form#AddPictureForm > div#Inputs
    {
        display: block;
        position: relative;
        float: right;
    }
        form#AddPictureForm > div#Inputs > ul > li
        {
            display: list-item;
            position: relative;
            margin: 5px 0px;
        }
            form#AddPictureForm > div#Inputs > ul > li > input
            {
                display: inline;
                position: relative;
                height: 20px;
                margin: 0px;
                margin-left: 3px;
                padding: 0px;
            }
            form#AddPictureForm > div#Labels > ul > li
            {
                display: list-item;
                position: relative;
                width: 100px;
                height: 24px;
                margin: 5px 0px;
                margin-right: 10px;
                padding: 0px;
            }
                form#AddPictureForm > div#Labels > ul > li > label
                {
                    display: inline;
                    position: relative;
                    width: 100px;
                    height: 24px;
                    float: right;
                    text-align: right;
                    line-height: 24px;
                }
div#AddPictureWrapper > div#SaveButton, div#LoadPictureWrapper > div#LoadButton, div#DeletePictureWrapper > div#DeleteButton
{
    display: block;
    position: relative;
    width: 150px;
    height: 75px;
    margin: 15px auto;
    text-align: center;
    line-height: 75px;
    border-radius: 25px;
    cursor: default;
    background: -webkit-linear-gradient(top, olivedrab, maroon, cadetblue);
}
div#Gallery
{
    display: block;
    position: relative;
    width: 900px;
    height: 1000px;
    margin: 0px;
    padding: 0px;
    background: none
}
    div#Gallery > div.PicturesBar
    {
        display: block;
        position: relative;
        width: 900px;
        height: 300px;
        margin: 0px auto;
        padding: 0px;
    }
        div#Gallery > div.PicturesBar > figure.GalleryFigure
        {
            display: block;
            position: relative;
            width: 250px;
            height: 300px;
            float: left;
            margin: 0px 25px;
            padding: 0px;
        }
            div#Gallery > div.PicturesBar > figure.GalleryFigure > a.GalleryLink
            {
                display: block;
                position: relative;
                width: 250px;
                height: 250px;
                margin-top: 25px;
                margin-bottom: 0px;
                margin-left: auto;
                margin-right: auto;
                padding : 0px;
            }
                div#Gallery > div.PicturesBar > figure.GalleryFigure > a.GalleryLink > img.GalleryPicture
                {
                    display: block;
                    position: relative;
                    width: 248px;
                    height: 248px;
                    margin: 0px;
                    padding : 0px;
                    border: 1px solid black;
                }
            div#Gallery > div.PicturesBar > figure.GalleryFigure > figcaption.GalleryCaption
            {
                display: block;
                position: relative;
                width: 250px;
                height: 25px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                line-height: 25px;
            }*/