body
{
	background:#EEEEEE;
}
header#siteHeader
{
	display: block;
	position: static;
	margin: 0;
}

	header#siteHeader  ul.nav
	{
		height: 105px;
	}
		header#siteHeader  ul.nav > li.menu
		{
			width: 100px;
			height: 20px;
			margin: 41.25px 0;
	text-align: center;
		}
			header#siteHeader  ul.nav > li.menu > a
			{
				height: 20px;
				margin: 0;
				padding: 0;
			}
	
li.open > a:focus
{
	#background: none !important;
	border-bottom: 2px solid gold !important;
}

li.btn-group
{
	width: 100px;
	height: 20px;
		margin: 30px 0;
}
	li.btn-group > a
	{
		margin: 0;
	}

div#logoWrapper
{
	width: 350px;
	height: 105px;
	float: left;
	box-sizing: border-box;
}

img#logo
{
	width: 240px;
	height: 70px;
	float: left;
	margin: 5px 40px;
	padding: 0px;

}
#fonty
{
	display: block;
	float: left;
	width: 320px;
	height: 20px;
	color: gold; 
	text-align: center;
	margin: 0; 
	font-size: 16px;
	font-style: italic;
	font-family: "Arial Black";
}
li.menu > a:hover
{
		border-bottom: 2px solid gold;
}


ul.dropdown-menu
{
	background: #222222;
}

ul.dropdown-menu > li > a
{
	color: #999 !important;	
}

ul.dropdown-menu > li > a:focus, ul.dropdown-menu > li > a:hover
{
	background: inherit !important;
	#border-bottom: 2px solid gold !important;
	color: gold !important;
}

div#content
{
	display: block;
	margin: 50px auto auto auto;
}