body
{
	background: white;
}
header#siteHeader
{
	display: block;
	position: static;
	margin: 0;
}
div#content
{
	display: block;
	margin: 50px auto auto auto;
}

li.menu
{
	width: 100px;
	height: 80px;
	text-align: center;
}
	li.menu > a
	{
		height: 20px;
		margin: 30px 0;
		padding: 0;
	}

li.btn-group
{
	width: 100px;
	height: 20px;
		margin: 30px 0;
}
	li.btn-group > a
	{
		margin: 0;
	}

div#logoWrapper
{
	width: 350px;
	height: 105px;
	float: left;
	box-sizing: border-box;
}

ul.dropdown-menu
{
	#background: #080808;
}

img#logo
{
	#box-sizing: border-box;
	width: 240px;
	height: 70px;
	float: left;
	margin: 5px 40px;
	padding: 0px;

}
#fonty
{
	display: block;
	float: left;
	width: 320px;
	height: 20px;
	color: gold; 
	text-align: center;
	margin: 0; 
	font-size: 16px;
	font-style: italic;
	font-family: "Arial Black";
}
li.menu > a:hover {
		border-bottom: 2px solid gold;
}
