div#catalogueWrapper h1
{
	display: block;
	float: right;
	width: 500px;
	margin: 0;
}

div.hideable h1, div.hideable h2
{
	text-align: center;
}

div#catalogue > div
{
	height: 320px;
}

div.hideable
{
	display: none;
}

a.thumbnail
{
	padding: 0;
	border: 0;
	background: transparent;
}

a.thumbnail > img
{
	max-width: 300px;	
	max-height: 300px;
}

nav#catalogueMenu li:hover
{
	cursor: pointer;
}