div#catalogueWrapper h1
{
	display: block;
	float: right;
	width: 500px;
	margin: 0;
}
div.hideable
{
	display: none;
	margin-bottom: 50px;
}
	div.hideable h1
	{
		text-align: center;
		font-weight: bold;
	}
	div.hideable h2
	{
		text-align: center;
		color: gold;
	}

div#catalogue > div
{
	height: 320px;
}

a.thumbnail
{
	padding: 0;
	border: 0;
	background: transparent;
}

a.thumbnail > img
{
	max-width: 300px;	
	max-height: 300px;
}

nav#catalogueMenu li:hover
{
	cursor: pointer;
}