div.formWrapper
{
    float: left;
    margin: 0;
}
div#mapCanvas
{
    float: none;
    height: 600px;
    margin: 15px auto;
}
div#contactWrapper
{
    margin-top: 60px;
}
    div#contactWrapper a
    {
        color: black;
    }