div#board {
	border: 5px ridge black;
	width: 610px;
	height: 460px;
	float: right;
	margin-right: 70px;
	margin-top: 35px;
}
div#hometext {
	font-size: 22px;
	font-family:"Verdana, Geneva, Arial, Helvetica, sans-serif";
	padding-top: 65px;
	padding-left: 70px;
	padding-right: 100px;
}
b#hometext {
	font-size: 26px;
}
ul#infocontact {
	list-style-type: none;
	float:right;
	margin-top: 25px;
	margin-right: 200px;
	font-size: 18px;
}
